<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.workflow.manager.client">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkflowManagerClient"
        android:fullBackupContent="@xml/backup_descriptor">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQLZt7V0XwNOBZGTPhVRWtPZQmVo8mrjc" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.WorkflowManagerClient.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.worker.WorkerActivity"
            android:theme="@style/Theme.WorkflowManagerClient.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.manager.ManagerActivity"
            android:theme="@style/Theme.WorkflowManagerClient.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.coordinator.CoordinatorActivity"
            android:theme="@style/Theme.WorkflowManagerClient.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>